extends layout

block content
  .login-container
    h1 Connexion à l'intranet
    if error
      .error-message
        case error
          when "1"
            | Identifiants incorrects
          when "2"
            | Veuillez vous connecter pour accéder à cette page
          default
            | Une erreur est survenue
    
    form(action="/auth/login" method="POST")
      .form-group
        label(for="email") Email :
        input#email(type="email" name="email" required)
      
      .form-group
        label(for="password") Mot de passe :
        input#password(type="password" name="password" required)
      
      button.btn-connexion(type="submit") Se connecter 